[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]



[dev-packages]

ipython = "*"
ipdb = "*"
pylama = "*"
pytest = "*"
isort = "*"
"e1839a8" = {path = ".", editable = true}
